# Baza danych
ConnectionStrings__DefaultConnection=Host=ep-shy-union...;Database=neondb;Username=frontend;Password=TUTAJ_WPISZ_HASLO;SSL Mode=Require;Trust Server Certificate=true;Pooling=true;

# Haslo SMTP
EmailSettings__SmtpPass=TUTAJ_WPISZ_HASLO_APP_GMAIL

# Klucz JWT
Jwt__Key=TUTAJ_WPISZ_TAJNY_KLUCZ

# WAZNE1 Zamiast : dajemy __ bo tak dotnet rozumie zagniezdzenia z appsettings.json
# WAZNE2 Plik o nazwie '.env' dajemy tam gdzie program.cs w H4H API
# WAZNE3 Pola ktore .env nadpisuje musza byc puste w appsettings.json (czyli "")